header {
  background-color: #4750ef;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

header .row {
  align-items: center;
}

header h1 {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  margin: 5px 0;
}

header a:hover {
  color: white;
}

h1 {
  color: black;
}

h1 {
  font-family: 'Baloo Chettan', cursive;
  text-align: center;
}

.carousel-slide img {
  opacity: 0.2;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.berlin-info {
  text-align: center;
}

/* .picture {
  position: absolute;
} */

}

.padding{
  padding: : 20px;
}


.picture img {
  /* max-width:150%; */
  max-width: 250px;
  border-radius: 50%;
  opacity: 1;
  padding: 25px;
}

.picture .info {
  position: absolute;
  top: 0;
  left; 0;
  background-color:#0077ff;
  color: white;
  width:90%;
  height:100%;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  opacity: 0;
  transition: 0.2s opacity;
  padding: 30px;
}

.picture .info:hover {
  opacity: 1;
}

.picture .info p {
  text-align: center;
}

.avatar {
  position: relative;
}

footer {
  background-color: #4750ef;
  color: white;
  padding: 50px;
}
.social-icons {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 50px;
  transition: 0.2s margin-top;
}

.social-icons a:hover {
  color: white;
  margin-top: -5px;
}
