body {
  margin: 0;
}

input[type=submit] {
  padding:5px 15px;
  background:#4750ef;
  border:0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  align-items: center;
  color: white;
}

input[type=text], select, textarea {
  width: 80%;
  height: 50px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.navbar {
  overflow: hidden;
  background-color: #4750ef;
}

.navbar a {
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.show {
  display: block;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
}

h6 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4750ef;
}

div {
  align: center;
}

.container {
  align-items: center;
  align: center;
  padding: 6px;
  box-sizing: border-box;
}

footer {
  background-color: #4750ef;
  width: 1000px;
  align: center;
  color: white;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  box-sizing: content-box;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 45px;
  transition: 0.2s margin-top;
}

.social-icons a:hover {
  color: white;
  margin-top: -5px;
}
