header {
  background-color: #4750ef;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

header .row {
  align-items: center;
}

header h1 {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  margin: 5px 0;
}

header a {
  color: white;
  font-size: 10px;
}

header a:hover {
  color: white;
}

.container.text {
  text-align: center;
  margin: 40px auto;
  border-bottom: 1px solid grey;
  border-bottom-style: dotted;
}

.container.info {
  text-align: center;
  margin: 50px auto;
  border-bottom: 1px solid grey;
  border-bottom-style: dotted;
  padding-bottom: 30px;
}

#team-header {
  color: #4750ef;
  font-family: "Anton", sans-serif;
  margin-bottom: 0%;
}

.avatar {
  position: relative;
}

.avatar img {
  max-width: 100%;
  border-radius: 50%;
}

.avatar .facts {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0077ff;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  opacity: 0;
  transition: 0.2s opacity;
}

.avatar .facts:hover {
  opacity: 1;
}

footer {
  background-color: #4750ef;
  color: white;
  padding: 50px;
}
.social-icons {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.social-icons a {
  margin: 0 10px;
  color: white;
}

.social-icons a:hover {
  color: white;
  margin-top: -5px;
}
