header {
  background-color: #4750ef;
  text-align: center;
  margin: 0;
}

header .row {
  align-items: center;
}

header h1 {
  color: white;
  font-family:'Anton', sans-serif;
  font-size: 30px;
  margin: 5px 0;
}

header a {
  color: white;
  font-size: 10px
}

header a:hover {
  color: white;
}
